<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="HSNP.css">
  <link rel="stylesheet" href="project.css">
  <link rel="stylesheet" href="mainpage-2.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) 　git test*/
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: 	#f1f1f1;
      color: black;
      height: 100%;
    }
    .li:hover{background-color: black;}
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>
<div class="row top_color top">
    <div class="col-sm-1"><button class="menu" onclick="open_menu()"><h2>☰</h2></button></div>
    <div class="col-sm-2"><h2>hsnp</h2></div>
     <div class="col-sm-5 ">
        <div class="input-group top_searchbox">
            <input type="text" class="form-control" placeholder="Search Problem..">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            </span>
        </div>
    </div>
    <div class="col-sm-4 ">
        <div class="row ">
                <div class="col-sm-2 ">
                <img src="c.jpg" class="img-circle" height="60" width="60" alt="Avatar" padding-top = 10px>
                </div>
                <h2>little bear</h2>
        </div>

    </div>

</div>
<div class="container-fluid">
  <div class="row content">
    <div class=" w3-sidebar w3-bar-block w3-card-2  w3-xlarge w3-animate-left sidenav" style="display:none;z-index:2;width:20%;min-width:300px" id="mySidebar">
      <ul class="nav nav-pills nav-stacked word">
        <button style="border:none; background-color:		#f1f1f1; color:black;" onclick="close_menu()">╳</button>
        <li><a href="#section2"><h3><font color="#00968">首頁</font></h3></a></li>
        <li><a href="#section3"><h3><font color="#00968">個人介面</font></h3></a></li>
        <li><a href="#section3"><h3><font color="#00968">我要發問</font></h3></a></li>
        <li><a href="#section3"><h3><font color="#00968">登出</font></h3></a></li>
      </ul><br>
    </div>
    <div class="col-md-12" style="background-color:#AAAAAA;">
      <ul class="nav navbar-nav" style="font-size: 20px; width:100%;">
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">全部</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">國文</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">英文</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">數學</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">歷史</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">地理</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">物理</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">化學</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">地科</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">公民</a></li>
        <li style="width:8%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">生物</a></li>
        <li style="width:12%;text-align:center;"><a href="#" style="color:#003C9D;font-weight:bold;">其他題庫</a></li>

      </ul>

    </div>
    <div id="mainpage-2" style="background: #ECEFF1">
    <div class="col-md-12">

      <template v-for="(card, index) in questionCards" class="row">
          <div class="col s12">
            <div class="col-md-4">
            <div class="card">
              <div class="card-image">
                <img :src="card.img">
                <span class="card-title">{{card.title}}</span>
              </div>
              <div class="card-content">
                <p>{{card.content}}</p>
              </div>
              <div class="card-action">
                <template v-if="card.unliked">
                  <a v-on:click="card.unliked = false">Like<a>
                </template>
                 <a v-else v-on:click="like(index)" >Unlike</a>
                <a>Comment</a>
              </div>
            </div>
          </div>
          </div>
        </template>
<!--
      //Q1
        <div class="col-md-4 ">
       	<table class="question" border="1">
        <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        <tr>
            <td>請救救我這幾何變態問題</td>
          </tr>
        </table>
        </div>

    //Q2
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
          <tr>
            <td>拜託大神</td>
          </tr>
        </table>
        </div>
 //Q3
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
          <tr>
            <td>送經驗救救我</td>
          </tr>
        </table>
        </div>
//Q4
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
//Q5
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
//Q6
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
//Q7
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
//Q8
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
//Q9
        <div class="col-md-4 ">
       	<table class="question" border="1">
          <tr>
            <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQc4nZj7kT45A0YSdiyMQE2F8n0EEJBp4Lonh_NcLsBUk64_j5v5g"></td>
          </tr>
        </table>
        </div>
-->

    </div>
    </div>
      <tr>
       <td><center><input type="button" value="上一頁" onclick="history.back()">&nbsp&nbsp<input type="button" value="下一頁" onclick="history.forward()"></center></td>
     </tr>
  </div>
</div>

<script>
// Script to open and close sidebar
function open_menu() {
    document.getElementById("mySidebar").style.display = "block";
}

function close_menu() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>
<script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <script src="./node_modules/vue-router/dist/vue-router.min.js"></script>
  <script type="text/javascript" src="./node_modules/materialize-css/dist/js/materialize.min.js"></script>
  <script src="./mainpage-2.js"></script>
</body>
</html>
