body {
    
}
.top{
  padding-top:16px; 
  padding-left:16px; 
  padding-bottom:16px; 
    padding-right:16px;
   
    
}
.personal_content{
    text-align: right;
    
}


.top_color{
    color:#fff!important;background-color:#009688!important
}
.content{
    text-align: left;
}
.article {
    
    width: 280px;
    background:#f2f2f2;
    vertical-align: middle;
}

